
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- RegisterServlet -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>services.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <!-- StudentService -->
    <servlet>
        <servlet-name>StudentService</servlet-name>
        <servlet-class>services.StudentService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentService</servlet-name>
        <url-pattern>/StudentService</url-pattern>
    </servlet-mapping>

    <!-- AttendanceService -->
    <servlet>
        <servlet-name>AttendanceService</servlet-name>
        <servlet-class>services.AttendanceService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttendanceService</servlet-name>
        <url-pattern>/AttendanceService</url-pattern>
    </servlet-mapping>

    <!-- MarkAttendanceServlet -->
    <servlet>
        <servlet-name>MarkAttendanceServlet</servlet-name>
        <servlet-class>services.MarkAttendanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarkAttendanceServlet</servlet-name>
        <url-pattern>/MarkAttendanceServlet</url-pattern>
    </servlet-mapping>

    <!-- ReportService -->
    <servlet>
        <servlet-name>ReportService</servlet-name>
        <servlet-class>services.ReportService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportService</servlet-name>
        <url-pattern>/ReportService</url-pattern>
    </servlet-mapping>

    <!-- ViewReportServlet -->
    <servlet>
        <servlet-name>ViewReportServlet</servlet-name>
        <servlet-class>services.ViewReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewReportServlet</servlet-name>
        <url-pattern>/ViewReportServlet</url-pattern>
    </servlet-mapping>
<display-name>StudentAttendanceSystem</display-name>
</web-app>
